*{
    margin:0;
    padding:0;
    overflow-x: hidden;
}
.contacts{
    background-image: url(image/ankole-grill.webp);
    background-repeat: no-repeat;
    background-size: cover;
   height: 965.9px;
     display: flex;
     gap: 25px;
}
.logo{
    position: absolute;
    margin-top: 3%;
    margin-left: 44%;
}
.contact-kitisuru{
    margin-top: 18%;
    border: 2px solid;
    height: 35%;
    font-size: x-large;
    color: #ffffff;
    border-color: #ffffff;
    padding: 25px;
    margin-left: 25%;
}
.contact-kilimani{
    margin-top: 18%;
    border: 2px solid;
    border-color: lab(100% 0.01 -0.01);
    padding: 25px;
    margin-right: 25%;
    color: #ffffff;
    font-size: x-large;
    height: 38%;  
}
#kiti{
  font-size: 35px;
}
#kili{
     font-size: 35px; }

.navigation ul{
    border: none;
background-color: black;
border-radius: 40px;
padding:30px;
margin-bottom: 1px;
gap: 5%;
display: flex;
cursor: pointer;
width: 40%;
}
.navigation{
    position:absolute;
    top:85%;
   left: 30%;
   width:100%;
} 
.navigation a:hover{
    padding: 5px;
    background-color: rgb(160, 156, 156);
}

.navigation a{
    color: azure;
text-decoration: none;}

.navigation ul li i{
color: white;
}

    #reservation{
        border: 2px;
        padding: 20px;
        background-color: darkgray;
        border-radius: 20px;
    }
    @media screen and (max-width:500px){
        .contacts{flex-direction: column;}
        .hidden{
            display: none;
        }
        .navigation{
            position:absolute;
            top:65%;
           left: 30%;
           width:100%;
        }    
    }
    